<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>index</title>
  </head>
  <body>
    {{#each path}}
        <a href = {{url}}>{{ message }}</a><br><br>
    {{/each}}
  </body>
</html>