<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Succesful Account Creation</title>
  </head>
  <body>
      <h1>{{ message }}</h1><br>
      <a href= {{ returnURL }}> {{ returnMessage }}</a>
  </body>
</html>